
<div ng-controller="cityCtrl" ng-init="t='hi'">

<br><br>
<div class="input-group">
    <input type="text" class="form-control" id="myInput" placeholder="Search ..." ng-model="search">
    <div class="input-group-append">
      <button class="btn btn-secondary" ng-click="fetch(); test=''">
        Search
      </button>
    </div>
  </div>

  <table class="col-md-5" id="details" style="visibility:hidden;">
    <tr ng-repeat="x in datafields">
      <td>{{ x.field }}</td>
      <td>{{ x.result }}</td>
    </tr>
  </table>

  <input class="form-control col-md-3" type="text" ng-model="test" placeholder="filter" id="filter" style="visibility:hidden;">

  <table class="table table-hover text-white ">
    <tr>
      <th ng-click="orderByMe('name')">City</th>
      <th ng-click="orderByMe('-confirmed_diff')">New Confirmed Cases</th>
      <th ng-click="orderByMe('-deaths_diff')">New Deaths</th>
      <th ng-click="orderByMe('-confirmed')">Total Confirmed Cases</th>
      <th ng-click="orderByMe('-deaths')">Total Deaths</th>
    </tr>
    <tr ng-repeat="x in cities | orderBy:myOrderBy | filter:test">
      <td>{{x.name}}</td>
      <td>{{x.confirmed_diff}}</td>
      <td>{{x.deaths_diff}}</td>
      <td>{{x.confirmed}}</td>
      <td>{{x.deaths}}</td>
    </tr>
  </table>
</div>
