

<script src="js/charts-canvas.js"></script>
<script>window.load();</script>

    
<div id="chartContainer" style="height: 500px; width: 100%;"></div>



<div class="row">
	<div class="form-group col-sm-3">
	    <select class="form-control" id="1" onchange="onChange(this, 1)">
	    	<option>Choose ...</option>
	    </select>
	</div>


	<div class="form-group col-sm-3">
	    <select class="form-control" id="2" onchange="onChange(this, 2)">
	    	<option>Choose ...</option>
	    </select>
	</div>

	<div class="form-group col-sm-3">
	    <select class="form-control" id="3" onchange="onChange(this, 3)">
	    	<option>Choose ...</option>
	    </select>
	</div>


	<div class="form-group col-sm-3">
	    <select class="form-control" id="4" onchange="onChange(this, 4)">
	    	<option>Choose ...</option>
	    </select>
	</div>
</div>