<!--
Map
https://coronavirus.jhu.edu/map.html

JHU Coronavirus FAQ
https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-frequently-asked-questions

JHU How to self-isolate
https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-social-distancing-and-self-quarantine

WHO Coronavirus Updates
https://www.who.int/emergencies/diseases/novel-coronavirus-2019


Mindfulness
Smiling mind
https://www.smilingmind.com.au/



Things to do
BUILT BY GIRLS: Stay at home
https://docs.google.com/spreadsheets/d/1UZ4cSyopw7PkWuHm6Y5kL8MGpYULBavTdAEwz0ibHEU/edit#gid=1621162486

Quarantine Together events
https://www.quarantinetogether.club/

Airtable of things to do + volunteering opportunities
https://airtable.com/shr9Csx0eMqbLByBN/tblNk8U8XDYJ1zWsO/viws1oCiVRK6wkhEv?blocks=bipjuUcEszUfDBttE

Trye club
https://trye.club/

//Spotify visualizer
https://www.kaleidosync.com/visualizer
-->